<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <ion-text color="danger" *ngIf="recuperarUsuario.get('email')?.invalid && recuperarUsuario.get('email')?.touched">
            Ingresa un correo electrónico válido
          </ion-text>
        </ion-item>

        <br>
        <ion-button expand="full" type="submit" [disabled]="recuperarUsuario.invalid">
          Enviar Enlace de Restablecimiento
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']">Regresar al Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>

