<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo de Usuario:</strong> {{ tipoUsuario }}</p>
      <p><strong>Nombre:</strong> {{ nombre }}</p>
      <p><strong>Apellido:</strong> {{ apellido }}</p>
      <p><strong>Correo:</strong> {{ correo }}</p>
      <p><strong>RUT:</strong> {{ rut }}</p>
    </ion-card-content>
    <footer>
      <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
    </footer>
  </ion-card>

  <!-- Mostrar la lista de usuarios obtenidos de la API -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios de la API</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <h2>{{ usuario.name }}</h2>
          <p>{{ usuario.email }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
