<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo de Usuario:</strong> {{ tipoUsuario }}</p>
      <p><strong>Nombre:</strong> {{ nombre }}</p>
      <p><strong>Apellido:</strong> {{ apellido }}</p>
      <p><strong>Correo:</strong> {{ correo }}</p>
      <p><strong>RUT:</strong> {{ rut }}</p>
    </ion-card-content>
    <footer>
      <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
    </footer>
  </ion-card>

  <div style="margin: 20px 0;"></div> 

  <ion-button expand="full" (click)="toggleAlumnos()">Lista de Alumnos</ion-button>

  <ion-button (click)="mostrarOpciones()">
   
    {{ tipoUsuario === 'profesor' ? 'QR Generar Código QR' : 'Escanear Código QR' }}
  </ion-button>
  

  <ion-list *ngIf="mostrarAlumnos">
    <ion-item *ngFor="let alumno of usuarios">
      {{ alumno.name }} 
    </ion-item>
  </ion-list>
</ion-content>

