<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Sección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar secciones creadas por el profesor -->
  <ion-list *ngIf="seccionesDisponibles.length > 0">
    <ion-item *ngFor="let seccion of seccionesDisponibles">
      <ion-label>
        <h2>{{ seccion.nombreSeccion }}</h2>
        <p>Profesor: {{ seccion.profesor }}</p>
        <p>{{ seccion.descripcion }}</p>

        <!-- Mostrar estudiantes inscritos en la clase -->
        <p>Estudiantes inscritos: {{ obtenerCantidadEstudiantes(seccion.id) }}</p>
        <p>Estudiantes: {{ mostrarEstudiantes(seccion.id) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay secciones disponibles -->
  <ion-item *ngIf="seccionesDisponibles.length === 0">
    <ion-label>No has creado ninguna sección aún.</ion-label>
  </ion-item>

  <!-- Formulario para crear una nueva sección -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nueva Sección</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        [(ngModel)]="nombreSeccion"
        placeholder="Nombre de la materia"
        required
      ></ion-input>
      <ion-textarea
        [(ngModel)]="descripcionSeccion"
        placeholder="Descripción de la sección"
        required
      ></ion-textarea>
      <ion-button expand="full" (click)="crearSeccion()">Crear Sección</ion-button>
    </ion-card-content>
  </ion-card>
  <div>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/profesor']">⬅️Volver </ion-button>
    </ion-buttons>
  </div>
</ion-content>
