<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
          <ion-text color="danger" *ngIf="formularioLogin.get('nombre')?.invalid && formularioLogin.get('nombre')?.touched">
            Ingresa tu nombre
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
          <ion-text color="danger" *ngIf="formularioLogin.get('apellido')?.invalid && formularioLogin.get('apellido')?.touched">
            Ingresa tu apellido
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input formControlName="rut"></ion-input>
          <ion-text color="danger" *ngIf="formularioLogin.get('rut')?.invalid && formularioLogin.get('rut')?.touched">
            Ingresa un RUT válido
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <ion-text color="danger" *ngIf="formularioLogin.get('password')?.invalid && formularioLogin.get('password')?.touched">
            Ingresa tu contraseña
          </ion-text>
        </ion-item>

        <br>
        <ion-button expand="full" type="submit" [disabled]="formularioLogin.invalid">
          Iniciar Sesión
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">Volver al Inicio</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/restablecer']">Olvidé mi contraseña</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
