<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clases Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar clases disponibles -->
  <ion-list *ngIf="clasesDisponibles.length > 0">
    <ion-item *ngFor="let clase of clasesDisponibles">
      <ion-label>
        <h2>{{ clase.nombreSeccion }}</h2>
        <p>Profesor: {{ clase.profesor }}</p>
        <p>{{ clase.descripcion }}</p>
        <ion-button *ngIf="tipoUsuario === 'alumno'" expand="full" (click)="inscribirseEnClase(clase.id)">
          Inscribirse
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay clases disponibles -->
  <ion-item *ngIf="clasesDisponibles.length === 0">
    <ion-label>No hay clases disponibles actualmente.</ion-label>
  </ion-item>
  <div>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/profesor']">⬅️Volver</ion-button>
    </ion-buttons>
  </div>
</ion-content>
