<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-content class="ion-text-center">
  <div class="button-container">
    <ion-button expand="full" [routerLink]="['/login']">Ir a Login profesor</ion-button>
    <br>
<br>
<br>
<br>
    <ion-button expand="full" [routerLink]="['/registro']">Ir a Registro profesor</ion-button>
    <br>
    <br>
    <ion-button expand="full" [routerLink]="['/alogin']">Ir a Login alumno </ion-button>
    <br>
<br>
<br>
<br>
<br>
    <ion-button expand="full" [routerLink]="['/registro']">Ir a Registro alumno</ion-button>
 
  </div>
</ion-content>

