ion-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 80%; 
  max-width: 300px; 
  padding-top: 20vh; 
  margin-left: 10%; 
}
